.mt-2{
  margin-top: 2rem;
}
.mb-6{
  margin-bottom: 6rem;
}
.mt-4{
  margin-top: 4rem;
}
.has-background-primary{
  color: hsla(171, 79%, 65%, 0.767);
}
.has-text-danger{
  color: hsl(348, 100%, 34%);
}

.bg{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(https://res.cloudinary.com/githigi-tech/image/upload/v1581684578/emergidrone/Drone-PNG-Clipart_imonby.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.banner-content {
  padding-top: 15rem;
  position: absolute;
  padding-left:100px;

}
.banner-content h1 {
      font-size: 3rem;
      color: #000000;
  }

.banner-content h2 {
      color: #000000;
      font-size: 2rem;
}
  footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 500px;
}
.landing{
  padding-bottom: 500px;
}