.mt-2{
  margin-top: 2rem;
}
.mb-6{
  margin-bottom: 6rem;
}
.mt-4{
  margin-top: 4rem;
}
.has-background-primary{
  color: hsla(171, 79%, 65%, 0.767);
}
.has-text-danger{
  color: hsl(348, 100%, 34%);
}